.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.wrapper > * {
  flex-basis: 0;
  flex-grow: 1;
  margin: 5px;
}

@media only screen and (max-width: 426px) {
    .wrapper > * {
        flex-basis: 100%;
    }
}
